body{
    background-color:black;
     color:white;
 }
 span{
     display:flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
     margin: 250px auto;
  }